.app-background-gradient {
  background-image: linear-gradient(to bottom, #001f3f, #3a1c71);
  min-height: 100vh; /* Ensures it covers the full viewport height */
  width: 100vw; /* Ensures it covers the full viewport width */
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}
